[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
black = "*"
twine = "*"

[packages]
libcst = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
bundle = "python setup.py sdist bdist_wheel"
sweep = "rm -fr build dist *.egg-info"
deploy = "twine upload dist/*"
