body {
  font-family: fantasy;
  margin: 0;
  padding: 0;
}

.header {
  padding: 1em;
}

h1 {
  margin: 0;
}

.editor {
  display: block;
  height: 70vh;
  width: 50vw;
}

.editors {
  display: flex;
  justify-content: space-between;
}
